#gallery-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
}

#gallery-list-header {
    display: flex;
    flex-direction: column;
}

#gallery-list-header * {
    margin: 5px 0;
}

#gallery-list-header h2 {
    font-size: 24px;
    opacity: 0.5;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#add-gallery-button {
    width: 100px;
    margin-bottom: 10px;
}

#gallery-node-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#gallery-node {
    margin: 10px 10px;
    position: relative;
}

#gallery-node a {
    text-decoration: none;
}

#gallery-node:hover #gallery-node-image {
    border-color: rgba(255, 255, 255, 0.5)
}

#gallery-node-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    border: 5px solid transparent;
    transition-duration: 600ms;
}

#gallery-title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

#edit-gallery,
#move-gallery {
    position: absolute;
    left: 10px;
    visibility: hidden;
    cursor: pointer;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#edit-gallery {
    top: 10px;
}

#move-gallery {
    bottom: 25px;
}

#edit-gallery:hover,
#move-gallery:hover {
    color: red;
}

#gallery-node:hover > #edit-gallery,
#gallery-node:hover > #move-gallery {
    visibility: visible;
}

.drop {
    width: 20px;
    height: 250px;
}