#gallery-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-top: 50px;
}

#gallery-list-header {
    display: flex;
    flex-direction: column;
}

#gallery-list-header * {
    margin: 5px 0;
}

#gallery-list-header h2 {
    font-size: 24px;
    opacity: 0.5;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#add-gallery-button {
    width: 100px;
    margin-bottom: 10px;
}

#gallery-node-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#gallery-node {
    margin: 10px 10px;
}

#gallery-node a {
    text-decoration: none;
}

#gallery-node:hover #gallery-node-image {
    border-color: rgba(255, 255, 255, 0.5)
}

#gallery-node-image {
    height: 150px;
    width: auto;
    border: 5px solid transparent;
    transition-duration: 600ms;
}

#gallery-title {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}