PORT=5000
DB_USERNAME=esphotography_app
DB_PASSWORD=<<password>>
DB_DATABASE=esphotography_db
DB_HOST=localhost
JWT_SECRET=<<jwt_secret>>
JWT_EXPIRES_IN=604800
AWS_ACCESS_KEY_ID=<<AWS key>>
AWS_SECRET_ACCESS_KEY=<<AWS secret>>
SEEDER_PASSWORD=<<web user password>>

Today I'm proud to showcase my latest project, a photography portfolio! The client requested a lot of features for organizing his photos that I was able to implement using drag & drop functionality to reorganize photos and galleries. I'm also very proud of the "gallery slideshow" view that I created from scratch. Check out the details on my github here: https://github.com/AndrewPMurray/ESPhotography