#about-container {
	width: calc(50vw + 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	justify-content: space-around;
}

#text {
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	margin: 16px 0;
	text-align: justify;
	text-align-last: center;
}

#text-header {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin: 16px 0;
}
