#landing-container {
	position: relative;
}

#home-slideshow {
	height: calc(80vw - 50px);
	max-height: 1080px;
	position: relative;
}

#home-image {
	position: absolute;
	width: 100vw;
	height: calc(80vw - 50px);
	max-height: 1080px;
	object-fit: cover;
	object-position: center;
	transition-duration: 1000ms;
}
