#navbar-container {
    display: flex;
    justify-content: space-around;
    background-color: #101010;
    color: white;
    width: auto;
    font-size: 20px;
    max-width: 100%;
    padding: 20px 0;
}

#navbar-container a,
.fa-instagram {
    text-decoration: none;
    transition-duration: 200ms;
}

#navbar-container a:hover,
.fa-instagram:hover {
    color: #A0A0A0;
}

#signature {
    height: 110px;
    padding: 20px;
    border-radius: 5px;
    transition-duration: 200ms;
    margin-right: 20px;
}

#navbar-links {
    display: flex;
    align-items: center;
}

#navbar-links * {
    margin: 0 30px;
}