#gallery-images-container {
    position: relative;
}

#delete-image,
#edit-image,
#set-key-image {
    position: absolute;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    visibility: hidden;
    cursor: pointer;
}

#delete-image {
    right: 5px;
    top: 5px;
}

#edit-image {
    left: 5px;
    top: 5px;
}

#set-key-image {
    bottom: 20px;
    right: 10px;
}

#images-slider > div:hover > div > #delete-image,
#images-slider > div:hover > div > #edit-image,
#images-slider > div:hover > div > #set-key-image {
    visibility: visible;
}

#delete-image:hover,
#edit-image:hover,
#set-key-image:hover {
    color: red;
}

#gallery-slideshow {
    height: 69vh; /* nice */
    position: relative;
}

#gallery-node-container {
    width: 100vw;
}

#gallery-slide-left,
#gallery-slide-right {
    position: absolute;
    top: 50%;
    font-size: 48px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
}

#gallery-slide-left:hover,
#gallery-slide-right:hover {
    opacity: 1;
}

#gallery-slide-left {
    left: 10px;
}

#gallery-slide-right {
    right: 10px;
}

#gallery-image-title {
    position: absolute;
    bottom: calc(17% - 20px);
    width: 100vw;
    text-align: center;
    font-size: 20px;
}

#gallery-image {
    position: absolute;
    width: 100vw;
    height: 80%;
    object-fit: contain;
    object-position: bottom;
    transition-duration: 1000ms;
}

#sliders {
    width: 100vw;
    height: 150px;
    position: absolute;
}

#images-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#images-slider > div {
    position: relative
}

#slider-preview {
    margin: 5px 3px;
    cursor: pointer;
    object-fit:cover;
    object-position: center;
    height: 150px;
    min-width: 150px;
    max-width: 150px;
}

#slider-slide-left,
#slider-slide-right {
    position: absolute;
    font-size: 48px;
    top: 0;
    opacity: 0.5;
    background-color: black;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    align-self: center;
    line-height: 150px;
}

#slider-slide-left:hover,
#slider-slide-right:hover {
    opacity: 0.7;
}

#slider-slide-left {
    left: 0;
    padding: 5px;
}

#slider-slide-right {
    right: 0;
    padding: 5px;
}

@media only screen and (max-device-height: 450px) {
    #sliders {
        height: 80px;
    }
    
    #slider-preview {
        height: 80px;
        min-width: 80px;
        max-width: 80px;
    }
    
    #slider-slide-left,
    #slider-slide-right {
        font-size: 48px;
        line-height: 80px;
    }
}